:root {
  /* evething-all-colors index.html and portfolio.html*/
  --web-hover-button-up-down: #2196F3;
  --Studio-black-000000:#000000;
  --nav-studio-portfolio-contact: #212121;
  --nav-address-email-phone-p-: #757575;
  --main-white-color-h: #FFFFFF;


  /* lower-section-navigation  */



  /* portfolio */
  --portfolio-bottons-color: #F5F4FA;



}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroud-all-page);
  letter-spacing: 0.03em;
  color: #000;
}

ul {
  list-style-type: none;
}





/* nav top web blue; studio black */





/* nav down web blue; studio white */




