:root {
  /* evething-all-colors index.html and portfolio.html*/
  --web-hover-button-up-down: #2196F3;
  --Studio-black-000000:#000000;
  --nav-studio-portfolio-contact: #212121;
  --nav-address-email-phone-p-: #757575;
  --main-white-color-h: #FFFFFF;

  
  /* lower-section-navigation  */
  --nav-backgroud-main: #2F303A;

  /* portfolio */
  --portfolio-bottons-color: #F5F4FA;
  --blue-bg-button: #2196F3;
  --stroke: #EEEEEE; 
}



body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-white-color-h);
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}

ul {
  list-style-type: none;
}



/* NAVIGATION TOP & DOWN : STUDION AND PORTFOLIO */
.logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
text-decoration: none;
}

.logo-web-blue {
  color: var(--blue-bg-button);
}

.logo-web-black {
  color: var(--Studio-black-000000)
}

/* NAVIGATION DOWN : WHERE STUDIO WHITE COLOR */
.logo-studio-white {
  color:var(--main-white-color-h)
}

/* STUDIO | PORTFOLIO | CONTACT */
.nav-menu-items {
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: var(--nav-studio-portfolio-contact);
text-decoration: inherit;
}

.nav-menu-items:hover, :focus {
color: var(--blue-bg-button);
}

/* address and email everywhere on both pages studio and portfolio */

.nav-menu-items-info {
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: var(--nav-address-email-phone-p-);
text-decoration: inherit;
}

.nav-menu-items-info:hover, :focus {
  color: var(--blue-bg-button);
}

/* HIDDEN SECTION FOR CEO OPTIMIZATION */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

